.mx-auto {
  margin: 0 auto;
}

.my-auto {
  margin: auto 0;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.75rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4.5rem;
}

.p-5 {
  padding: 6rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.75rem;
}

.pl-2 {
  padding-left: 1.5rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4.5rem;
}

.pl-5 {
  padding-left: 6rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.75rem;
}

.pr-2 {
  padding-right: 1.5rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4.5rem;
}

.pr-5 {
  padding-right: 6rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.75rem;
}

.pt-2 {
  padding-top: 1.5rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4.5rem;
}

.pt-5 {
  padding-top: 6rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.75rem;
}

.pb-2 {
  padding-bottom: 1.5rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4.5rem;
}

.pb-5 {
  padding-bottom: 6rem;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.75rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4.5rem;
}

.m-5 {
  margin: 6rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.75rem;
}

.ml-2 {
  margin-left: 1.5rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4.5rem;
}

.ml-5 {
  margin-left: 6rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.75rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4.5rem;
}

.mr-5 {
  margin-right: 6rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.75rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4.5rem;
}

.mt-5 {
  margin-top: 6rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4.5rem;
}

.mb-5 {
  margin-bottom: 6rem;
}

.o-10 {
  opacity: 0.1;
}

.o-20 {
  opacity: 0.2;
}

.o-30 {
  opacity: 0.3;
}

.o-40 {
  opacity: 0.4;
}

.o-50 {
  opacity: 0.5;
}

.o-60 {
  opacity: 0.6;
}

.o-70 {
  opacity: 0.7;
}

.o-80 {
  opacity: 0.8;
}

.o-90 {
  opacity: 0.9;
}

.o-100 {
  opacity: 1;
}

.br {
  border-radius: 20px;
}

.br-none {
  border-radius: 0;
}

.br-xs {
  border-radius: 5px;
}

.br-sm {
  border-radius: 10px;
}

.br-lg {
  border-radius: 40px;
}

.br-full {
  border-radius: 50%;
}

.d-n {
  display: none;
}

.d-b {
  display: block;
}

.d-f {
  display: flex;
}

.d-i {
  display: inline;
}

.d-i-b {
  display: inline-block;
}

.font-xs {
  font-size: 0.9rem;
}

.font-md {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.5rem;
}

.font-xl {
  font-size: 2rem;
}

.font-xxl {
  font-size: 3rem;
}

.mx-0 {
  margin: 0;
}

.mx-1 {
  margin: 0 0.75rem;
}

.mx-2 {
  margin: 0 1.5rem;
}

.mx-3 {
  margin: 0 3rem;
}

.mx-4 {
  margin: 0 4.5rem;
}

.mx-5 {
  margin: 0 6rem;
}

.my-0 {
  margin: 0;
}

.my-1 {
  margin: 0.75rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4.5rem 0;
}

.my-5 {
  margin: 6rem 0;
}

.py-0 {
  padding: 0;
}

.py-1 {
  padding: 0.75rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4.5rem 0;
}

.py-5 {
  padding: 6rem 0;
}

.px-0 {
  padding: 0;
}

.px-1 {
  padding: 0 0.75rem;
}

.px-2 {
  padding: 0 1.5rem;
}

.px-3 {
  padding: 0 3rem;
}

.px-4 {
  padding: 0 4.5rem;
}

.px-5 {
  padding: 0 6rem;
}

.letter-spacing-xs {
  letter-spacing: 0.3px;
}

.letter-spacing-md {
  letter-spacing: 0.5px;
}

.letter-spacing-lg {
  letter-spacing: 1px;
}

.letter-spacing-xl {
  letter-spacing: 2px;
}

.t-slow-xl {
  transition: 900ms linear 50ms;
}

.t-slow-lg {
  transition: 700ms linear 50ms;
}

.t-slow-md {
  transition: 500ms linear 50ms;
}

.t-slow-xs {
  transition: 400ms linear 50ms;
}

.t-fast-xl {
  transition: 300ms linear 30ms;
}

.t-fast-lg {
  transition: 250ms linear 25ms;
}

.t-fast-md {
  transition: 200ms linear 20ms;
}

.t-fast-xs {
  transition: 150ms linear 10ms;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.fs-normal {
  font-style: normal;
}

.fs-italic {
  font-style: italic;
}

.fs-oblique {
  font-style: oblique;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.t-center {
  text-align: center;
}

.t-justify {
  text-align: justify;
}

.t-initial {
  text-align: initial;
}

.t-inherit {
  text-align: inherit;
}

.p-static {
  position: static;
}

.p-relative {
  position: relative;
}

.p-fixed {
  position: fixed;
}

.p-absolute {
  position: absolute;
}

.p-sticky {
  position: sticky;
}

.v-visible {
  visibility: visible;
}

.v-hidden {
  visibility: hidden;
}

.ox-visible {
  overflow-x: visible;
}

.ox-hidden {
  overflow-x: hidden;
}

.ox-scroll {
  overflow-x: scroll;
}

.ox-auto {
  overflow-x: auto;
}

.ox-initial {
  overflow-x: initial;
}

.ox-inherit {
  overflow-x: inherit;
}

.oy-visible {
  overflow-y: visible;
}

.oy-hidden {
  overflow-y: hidden;
}

.oy-scroll {
  overflow-y: scroll;
}

.oy-auto {
  overflow-y: auto;
}

.oy-initial {
  overflow-y: initial;
}

.oy-inherit {
  overflow-y: inherit;
}