$w-space: nowrap,normal,pre;
$f-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;
$f-style : normal,italic,oblique;
$position : static, relative,fixed,absolute,sticky;
$visibility :visible , hidden;
$text-align: left,right,center,justify,initial,inherit;
$overflow-x: visible,hidden,scroll,auto,initial,inherit;
$overflow-y: visible,hidden,scroll,auto,initial,inherit;